body {
    background: url("background.JPG") no-repeat fixed;
    background-size: cover;
}

.intro {
    background-color: rgb(215, 217, 216);
    color: rgb(1, 25, 0);
}

.swapper {
    background-color: rgb(228, 223, 188);
    color: rgb(67, 2, 0);
}

.little-rat {
    background: rgb(209, 206, 217);
    color: rgb(0, 7, 67);
}